*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    list-style: none;
}
body{
    background-color: white;
}
.row{
    --bs-gutter-x: 0;
}
/* nav */

.navsection{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 99999;
}
.navtop{
    background-color: black;
    padding: 1rem 1rem;
    display: flex;
    justify-content: end;
}

.container-nav{
    padding: 50px 20%;
}
.navbar .megamenu{
    padding: 1rem; 
    border: none;
    border-radius: 0;
}
.navbar .has-megamenu{
    position:static!important;
}
.navbar .megamenu{
    left:0;
    right:0; 
    width:100%; 
    margin-top:-1px;  
}


.nav-link{
    padding: 0;
}
.navspacing{
    width: 100%;
}
.navspacing2{
    width: 10px;
}
.searchicon{
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 5px;
    margin-top: 30px;
}
/* banner1 */

.mainbanner{
    margin-top:120px;
    min-height: 500px;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.mainbannercontainer{
    height: 500px;
    color: white;
}
/* sezione con 6 giochi in evidenza */

.game-card{
    max-width: 300px;
    min-height: 150px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    margin: 10px;
}
.returnal-card{
    background-image: url(img/returnal-listing-thumb-01-ps5.jpg);
}
.ratchet-card{
    background-image: url(img/ratchet-and-clank-rift-apart-keyart.jpg);
}
.selected{
    border: 2px solid white;
    box-shadow: 0px 0px 0px 2px rgb(33, 77, 236);
}
/* ps-5 */

.play-5{
    margin-top: 6rem;
}
.ps5-items-img{
    opacity: 0.6;
    transition: opacity 500ms;
}
.ps5-items:hover .ps5-items-img{
    opacity: 1;
}
.ps5-items-selected{
    border-bottom: rgb(33, 77, 236) solid 2px;
}
/* banner2 */

.banner2{
    min-height: 500px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mainbannercontainer2{
    height: 500px;
    color: white;
}
/* nuove uscite */

.rounded-nuoveuscite{
    border-radius: 20px;
}
.nuove-uscite{
    background-color: #1f1f1f;
    color: white;
}

/* psplus */

.psplus{
    background-color: #bebcbb;

}
/* psnow */

.psnow{
    background-color: #161c3b;
    color: white;
}
/* social */
.socialicon{
    max-width: 250px;
}

/* footer */

footer{
    background-color: #00439c;
}

.country-container{
    width: fit-content;
}
footer *{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: white;
}

 /* btn */

.bottone{
    width: fit-content;
    padding: 2px 10px 5px 10px;
    background-color: #cd3d0f;
    color: white;
    border-radius: 3rem;
    border: 2px solid #cd3d0f;
    transition: box-shadow 500ms;
    cursor: pointer;
    text-decoration: none;
}

.bottone:hover {
    box-shadow: 0px 0px 0px 3px rgb(19, 19, 22) inset;
    color: white;
}

.bottone2{
    width: fit-content;
    padding: 2px 10px 5px 10px;
    background-color: #2d64e6;
    color: white;
    border-radius: 3rem;
    border: 2px solid #2d64e6;
    transition: box-shadow 500ms;
    cursor: pointer;
    text-decoration: none;
    z-index: 99999;
}

.bottone2:hover {
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255) inset;
    color: white;
}

.bottone3{
    width: fit-content;
    padding: 4px 10px 7px 10px;
    background-color: #d9dadc;
    color: #2d64e6;
    border-radius: 3rem;
    transition: box-shadow 500ms;
    cursor: pointer;
    text-decoration: none;
    z-index: 99999;
}

.bottone3:hover {
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255) inset;
}

.bottone4{
    width: fit-content;
    padding: 4px 10px 7px 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 3rem;
    transition: box-shadow 500ms;
    cursor: pointer;
    text-decoration: none;
    z-index: 99999;
}

.bottone4:hover {
    box-shadow: 0px 0px 0px 2px rgb(148, 148, 148) inset;
}